<app-header></app-header>


<div class="container">
  <h1>Editar Cliente</h1>
  <a  routerLink="/ClienteIndex" class="btn btn-primary">Back</a>


  <form  (ngSubmit)="onSubmit()">

      <div class="form-group">
          <label for="Nombres">Nombres:</label>

          <input   type="text"  class="form-control"   id="cli_NOMBRES" name= "cli_NOMBRES" [(ngModel)]="clientes.cli_NOMBRES">

      </div>

      <div class="form-group">
          <label for="Correo">Correo</label>

          <input   type="text"  class="form-control"   id="cli_CORREO" name= "cli_CORREO" [(ngModel)]="clientes.cli_CORREO">

      </div>

      <div class="form-group">
        <label for="Celular">Celular</label>

        <input   type="text"  class="form-control"   id="cli_CELULAR" name= "cli_CELULAR" [(ngModel)]="clientes.cli_CELULAR">

    </div>


    <div class="form-group">
      <label for="Direccion">Direccion</label>
      <input   type="text"  class="form-control"   id="cli_DIRECCION" name= "cli_DIRECCION" [(ngModel)]="clientes.cli_DIRECCION">

  </div>


  <div class="form-group">
    <label for="Ciudad">Ciudad</label>
    <input   type="text"  class="form-control"   id="cli_CIUDAD_ID" name= "cli_CIUDAD_ID" [(ngModel)]="clientes.cli_CIUDAD_ID">

</div>


<div class="form-group">
  <label for="Estado">Estado</label>

  <input   type="text"  class="form-control"   id="cli_ESTADO" name= "cli_ESTADO" [(ngModel)]="clientes.cli_ESTADO">

</div>


<button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>


<app-footer></app-footer>
