<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/logo.PNG" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
      <input type="text" id="username" class="fadeIn second"  placeholder="login" formControlName="username">
      <input type="password" id="password" class="fadeIn third"  placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" routerLink="/recordar" href="#">Forgot Password?</a>
    </div>
    <div id="formFooter">
      <a class="underlineHover" routerLink="/Registrarse" href="#">Registrar</a>
    </div>
  </div>
</div>
