<app-header></app-header>

<div class="container">
  <h1>Clientes </h1>

  <a href="#" routerLink="/ClienteNuevo" class="btn btn-success">Create New Post</a>

  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Nombres</th>
      <th>Correo</th>
      <th>Celular</th>
      <th>Direcciom</th>
      <th>Ciudad</th>
      <th>Estado</th>
      <th width="220px">Accion</th>
    </tr>

    <tr *ngFor="let i of posts">
      <td>{{i.cli_ID }}</td>
      <td>{{i.cli_NOMBRES}}</td>
      <td>{{i.cli_CORREO}}</td>
      <td>{{i.cli_CELULAR}}</td>
      <td>{{i.cli_DIRECCION}}</td>
      <td>{{i.cli_CIUDAD_ID}}</td>
      <td>{{i.cli_ESTADO}}</td>
      <td>
        <button type="button" (click)="verCliente(i.cli_ID)"  class="btn btn-danger">Ver</button>
        <button type="button" (click)="actualizarCliente(i.cli_ID)"  class="btn btn-danger">Editar</button>
        <button type="button" (click)="eliminarCliente(i.cli_ID)"  class="btn btn-danger">Eliminar</button>
      </td>
    </tr>

  </table>
</div>

<app-footer></app-footer>
