<app-header></app-header>

<div class="container">
  <h1>Listar Post</h1>

  <a  routerLink="/ClienteIndex" class="btn btn-primary">Back</a>

  <div>
      <strong>ID:</strong>
      <p>{{ post.cli_ID }}</p>
  </div>

  <div>
      <strong>Title:</strong>
      <p>{{ post.cli_NOMBRES }}</p>
  </div>

  <div>
      <strong>Body:</strong>
      <p>{{ post.cli_CORREO }}</p>
  </div>

  <div>
    <strong>Body:</strong>
    <p>{{ post.cli_CELULAR }}</p>
</div>

<div>
  <strong>Body:</strong>
  <p>{{ post.cli_DIRECCION }}</p>
</div>

<div>
  <strong>Body:</strong>
  <p>{{ post.cli_CIUDAD_ID }}</p>
</div>

<div>
  <strong>Body:</strong>
  <p>{{ post.clI_ESTADO }}</p>
</div>

</div>

<app-footer></app-footer>
